# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
**/biosphere
**/bioGui

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Whatever gcc is throwing in my folders
*.eep
*.lss
*.lst
*.sym

#include path because it is extracted from Atmel Studio
include/*

#LibreOffice Stuff
*.csv#
*.ods#

#Eagle
*.s#*
*.b#*

#VS Code Config File: has to be different for Windows and Linux
.vscode
~/c_cpp_properties.json

#LaTeX
*.aux
*.bit
*.blg
*.bbl
*.lof
*.log
*.lot
*.glo
*.glx
*.gxg
*.gxs
*.idx
*.ilg
*.ind
*.url
*.svn
*.toc
*.swp
*.bak
*.fls
*.fdb_latexmk
*.synctex.gz

#Output Files
biosphere.csv
PC/biosphere
PC/bioGui
PC/README.md.hpp

#glade
*.glade~

#CLion
.idea