#LibreOffice Lock Files
*.csv#
*.ods#

#Eagle
*.s#*
*.b#*

#VS Code Config File: has to be different for Windows and Linux
.vscode
~/c_cpp_properties.json

#LaTeX
*.aux
*.bit
*.blg
*.bbl
*.lof
*.log
*.lot
*.glo
*.glx
*.gxg
*.gxs
*.idx
*.ilg
*.ind
*.url
*.svn
*.toc
*.swp
*.bak
*.fls
*.fdb_latexmk
*.synctex.gz

#Output Files
biosphere.csv
PC/README.md.hpp

#glade
*.glade~

#CMake
cmake-build-debug